# =========================
# Entorno virtual
# =========================
.venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Logs
# =========================
*.log
monitoreo.log

# =========================
# Variables de entorno
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
